#imagen1 {
    background-image: url('../images/poker fondo.jpg'); /* Quita la barra invertida y elimina los espacios en el nombre del archivo */

}

#imagen2 {
    background-image: url('../images/pokemon fondo.jpg'); /* Quita la barra invertida y elimina los espacios en el nombre del archivo */
}

.contenedor-imagen {
    position: relative;
    width: 50%;
    height: 100vh; /* Asegura que el contenedor de imagen ocupe toda la altura del viewport */
    float: left;
    background-size: cover;
    background-position: center;
}

#imagen1:hover,
#imagen2:hover {
    transform: scale(1.1); /* Aumenta el tamaño en un 10% */
}


.titol {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    z-index: 1;
    border-radius: 15px;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #f6f2f2, 1px 1px 0 #ffffff;
}


.contenedor-botones {
    position: absolute; /* Posicionamiento absoluto para los botones */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para centrar completamente */
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: auto; /* Cambia la altura a auto para que los botones no se superpongan */
    z-index: 1; /* Asegura que los botones estén por encima de las imágenes */
}

.jugar {
    position: absolute; /* Posicionamiento absoluto para los botones */
    top: 90%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para centrar completamente */
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: auto; /* Cambia la altura a auto para que los botones no se superpongan */
    z-index: 1; /* Asegura que los botones estén por encima de las imágenes */
}

.botonJugar, .botonFacil, .botonMedio, .botonDificil {
    background-image: linear-gradient(to bottom right, rgb(255, 251, 0), rgb(255, 124, 2));
    filter: brigthness(150%);
    width: 300px;
    height: 100px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    transition: 0.3s;
    border: 10px double #b2b2b2;
    border-radius: 47px;
}

.botonJugar:hover {
    background-image: linear-gradient(to bottom right, #5bdeff, #1a53ff);
    color: #ffffff;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
    border-color: #ffffff;

}

.botonFacil:hover {
    background-image: linear-gradient(to bottom right, #4bff60, #009311);
    color: #ffffff;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
    border-color: #ffffff;
}

.botonMedio:hover {
    background-image: linear-gradient(to bottom right, #ffef3a, #ffc021);
    color: #ffffff;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
    border-color: #ffffff;
    
}

.botonDificil:hover {
    background-image: linear-gradient(to bottom right, #ff2525, #d50032);
    color: #ffffff;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
    border-color: #ffffff;
}

#espai {
    margin-top: 3px;
}

#imagen1:hover, #imagen2:hover {
    filter: blur(0); /* Al pasar el cursor sobre la imagen, eliminamos el desenfoque */
}

h1 {
    
    background-image: linear-gradient(to bottom right, rgb(255, 251, 0), rgb(255, 124, 2));
    filter: brigthness(150%);
    width: 100%;
    height: 100%;
    font-size: 500%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 
    -1px -1px 0 #ffffff,  
     1px -1px 0 #ffffff,
    -1px  1px 0 #f6f2f2,
     1px  1px 0 #ffffff;
}

.expandida {
    position: fixed;
    height: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: transform 0.5s ease;
    background-position: center;
}

