body {
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #f6f2f2, 1px 1px 0 #ffffff;
}

#tauler {
    border-radius: 10px;
    border: 1px solid #666;
    position: relative;
    background: #232 url(../images/table.jpg);
    margin: 0 auto;
    box-shadow: 0 -1px 0 #999, 0 1px 0 #999, inset 0;
}

.fondojocpoker {
    background-image: url('../images/Pokercssfondo.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
}
.fondojocpokemon {
    background-image: url('../images/pokemoncssfondo.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
}

.fichapoker {
    position: absolute;
    background-image: url(../images/fichapokerpng.png);
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    left: 15%;
}

.bolapokemon {
    position: absolute;
    background-image: url(../images/pokeballpng.png);
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    left: 10%;
}

#comptador{
    margin-top: 35%;
}
#timer{
    margin-top: 15%;
}

.cara {
    border-radius: 10px;
    width: 100%;	height: 100%;
    position: absolute;  /* per poder moure la carta */
    
    transition-property: transform, shadow;
    transition-duration: .5s;
    
    backface-visibility: hidden;
}
    
    
.carta-girada .darrera {
    transform: rotate3d(0,1,0,180deg);
}
    
.carta-girada .davant {
    transform: rotate3d(0,1,0,0deg);
}

.carta {
    position: absolute;
    -webkit-perspective: 300px; /* Chrome, Safari, Opera  */
    perspective: 300px;/*transition: all .3s; */
}

.carta:hover .cara{
    box-shadow: 0 0 10px #aaa;
}

.davant{
    transform: rotate3d(0,1,0,-180deg);
}

.deck.carta{
    width: 80px;
    height: 120px;
}

.deck{
    .darrera{
        background: #999 url(../images/deck.png) 0px -480px;
    }
    .davant{
        background: #efefef url(../images/deck.png);
    }
    

    .carta1 {background-position: 0 0;}
    .carta2 {background-position: -80px 0;} 
    .carta3 {background-position: -160px 0;}
    .carta4 {background-position: -240px 0;}
    .carta5 {background-position: -320px 0;}
    .carta6 {background-position: -400px 0;}
    .carta7 {background-position: -480px 0;}
    .carta8 {background-position: -560px 0;}
    .carta9 {background-position: -640px 0;}
    .carta10 {background-position: -720px 0;}
    .carta11 {background-position: -800px 0;}
    .carta12 {background-position: -880px 0;}
    .carta13 {background-position: -960px 0;}
/*...*/
    .carta14 {background-position: 0 -120px;}
    .carta15 {background-position: -80px -120px;}
    .carta16 {background-position: -160px -120px;}
    .carta17 {background-position: -240px  -120px;}
    .carta18 {background-position: -320px -120px;}
    .carta19 {background-position: -400px -120px;}
    .carta20 {background-position: -480px -120px;}
    .carta21 {background-position: -560px -120px;}
    .carta22 {background-position: -640px -120px;}
    .carta23 {background-position: -720px -120px;}
    .carta24 {background-position: -800px -120px;}
    .carta25 {background-position: -880px -120px;}
    .carta26 {background-position: -960px -120px;}

    .carta27 {background-position: 0 -240px;}
    .carta28 {background-position: -80px -240px;}
    .carta29 {background-position: -160px -240px;}
    .carta30 {background-position: -240px  -240px;}
    .carta31 {background-position: -320px -240px;}
    .carta32 {background-position: -400px -240px;}
    .carta33 {background-position: -480px -240px;}
    .carta34 {background-position: -560px -240px;}
    .carta35 {background-position: -640px -240px;}
    .carta36 {background-position: -720px -240px;}
    .carta37 {background-position: -800px -240px;}
    .carta38 {background-position: -880px -240px;}
    .carta39 {background-position: -960px -240px;}

    .carta40 {background-position: 0 -360px;}
    .carta41 {background-position: -80px -360px;}
    .carta42 {background-position: -160px -360px;}
    .carta43 {background-position: -240px  -360px;}
    .carta44 {background-position: -320px -360px;}
    .carta45 {background-position: -400px -360px;}
    .carta46 {background-position: -480px -360px;}
    .carta47 {background-position: -560px -360px;}
    .carta48 {background-position: -640px -360px;}
    .carta49 {background-position: -720px -360px;}
    .carta50 {background-position: -800px -360px;}
    .carta51 {background-position: -880px -360px;}
    .carta52 {background-position: -960px -360px;}
}
/*...*/
.pokemon.carta{
    width: 111px;
    height: 111px;
}

.pokemon{

    .darrera{
        background: #999 url(../images/pokemon.jpg) -777px 0px;
    }
    .davant{
        background: #999 url(../images/pokemon.jpg);
    }

    .carta1{background-position:    0       0; }
    .carta2{background-position: -111px     0; }
    .carta3{background-position: -222px     0; }
    .carta4{background-position: -333px     0; }
    .carta5{background-position: -444px     0; }
    .carta6{background-position: -555px     0; }
    .carta7{background-position: -666px     0; }
    .carta8{background-position:   0    -111px; }
    .carta9{background-position: -111px -111px;}
    .carta10{background-position: -222px -111px;}
    .carta11{background-position: -333px -111px;}
    .carta12{background-position: -444px -111px;}
    .carta13{background-position: -555px -111px;}
    .carta14{background-position: -666px -111px;}
    .carta15{background-position: -777px -111px;}
    .carta16{background-position:   0    -222px;}
    .carta17{background-position: -111px -222px;}
    .carta18{background-position: -222px -222px;}
    .carta19{background-position: -333px -222px;}
    .carta20{background-position: -444px -222px;}
    .carta21{background-position: -555px -222px;}
    .carta22{background-position: -666px -222px;}
    .carta23{background-position: -777px -222px;}
}
